@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); 
*{
    font-family: "Outfit", sans-serif;
}

.message-div p{
    padding: 8px 30px 8px 30px;
    max-width: 60%;
    width: fit-content;
    border-radius: 20px;
    margin: 5px;
    color:white;
    animation: scaleUp 0.5s;
}
.user p{
    background-image: linear-gradient(to right,rgb(14, 41, 110),rgb(63, 80, 207) ); 
}  
.assistant p{
    background-image: linear-gradient(to right,rgb(8, 92, 8),rgb(73, 198, 121) ); 
}
.message{
    width: 100%;
}
.message-div{
    width: 100%;
    display: flex;
}
.user{
    justify-content: end;
}
.assistant{
    justify-content: start;
}

